.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  background-image: url('../images/background.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);
}
.container {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
}
.title {
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  color: #0C0F3D;
}
#description {
  text-align: center;
  margin-top: 30px;
  color: #542641;
}
#table-part {
  background-color: white;
  border-top: 10px solid #0C0F3D;
  border-radius: 3px;
  margin-top: 50px;
  padding: 20px;
  overflow-y: scroll;
  height: 50vh;
  position: relative;
}
#data-table {
  width: 100%;
  text-align: center;
}
#data-table tr:nth-of-type(odd) {
  background-color: #fce3d1;
}
#locationModal {
  z-index: 100000;
}
.footer {
  width: 100%;
  height: 5vh;
  position:absolute;
  bottom:0px;
  right:0px;
  margin-right: 30px;
  margin-bottom: 20px;
}
.back-button {
  width: 12%;
  height: 30px;
  font-weight: bold;
  color: #0C0F3D;
  background-color: #D5A899;
  border: none;
  border-radius: 3px;
  float: right;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #fce3d1; 
}
::-webkit-scrollbar-thumb {
    background: #D5A899; 
}
::-webkit-scrollbar-thumb:hover {
    background: #bc8573; 
}