<script id="flight-details" type="x-tmpl-mustache">
  <div class="background-image"></div>
  <div class="container">
    <h1 class="title">Flight details</h1>
    <div id="details-part">
   		<span>
				<h4>Aircraft registration:</h4>
				<p>{{airplaneModel}}</p>
   		</span>
   		<span>
   			<h4>Take off location:</h4>
   			<p>{{airportFrom}}</p>
   		</span>
   		<span>
   			<h4>Destination:</h4>
   			<p>{{airportTo}}</p>
   		</span>
   		<span>
   			<h4>Airline:</h4>
   			<p>{{airline}}</p>
   		</span>
      <span>
        <h4>Company logo:</h4>
        <img class="company-logo" src={{airlineLogo}} alt='Airline logo' />
      </span>
   		<div class="footer">
	    	<button class="back-button" type="button" onclick="back()">Back</button>
   		</div>
    </div>
  </div>
</script>
